{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    {% if account_drills %}
        {% if user.profile.get_full_name  %}
            <h1 id="drills-dash-header">Тренировки добавени от <a href="{% url 'user-details' user.pk %}">{{ user.profile.get_full_name }}</a></h1>
        {% else %}
            <h1 id="drills-dash-header">Тренировки добавени от <a href="{% url 'user-details' user.pk %}">{{ user }}</a></h1>
        {% endif %}
    {% elif account_favourites %}
        {% if user.profile.get_full_name  %}
            <h1 id="drills-dash-header">Любими тренировки на <a href="{% url 'user-details' user.pk %}">{{ user.profile.get_full_name }}</a></h1>
        {% else %}
            <h1 id="drills-dash-header">Любими тренировки на <a href="{% url 'user-details' user.pk %}">{{ user }}</a></h1>
        {% endif %}
    {% endif %}
    
    <div class="search">
        {% if account_drills %}
            <form action="{% url 'user-drills' user.pk %}" method="get">
        {% elif account_favourites %}
            <form action="{% url 'user-favourites' user.pk %}" method="get">
        {% else %}
            <form action="{% url 'drill-dashboard' %}" method="get">
        {% endif %}
            {{ form }}
            <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i> Търси</button>
        </form>
    </div>
    <div class="container-drills">
        <div class="drills">
            {% for drill in drills %}
                <div id="{{ drill.id }}" class="drill-card">
                    <div class="image-wrap">
                        {% if drill.graphics %}
                            <img src="{{ drill.graphics.url }}" alt="Drill"/>
                        {% else %}
                            <img src="{% static 'images/drills-common.png' %}">
                        {% endif %}
                    </div>
                    <div class="drill-info">
                        {% if drill.approved %}
                            <h1>{{ drill.name }} <img style="width: 70px;height: 70px"
                                                      src="{% static 'images/coach-like-big.png' %}"></h1>

                        {% else %}
                            <h1>{{ drill.name }}</h1>
                        {% endif %}
                        <h4>{{ drill.for_age_group }}</h4>
                        <h4>{{ drill.focus }}</h4>


                        <p class="description">{{ drill.description|truncatewords:30 }}</p>
                        <div class="cup-comments">
                            {% if drill.has_liked %}
                                <a class="like-link" href="{% url 'like' drill.pk %}"><p><i id="unlike"
                                                                                            class="fa-solid fa-trophy liked-icon"></i>{{ drill.likes.count }}
                                </p></a>
                            {% else %}
                                <a class="like-link" href="{% url 'like' drill.pk %}"><p><i id="like"
                                                                                            class="fa-solid fa-trophy not-liked-icon"></i>{{ drill.likes.count }}
                                </p></a>
                            {% endif %}
                            {% if drill.has_favourited %}
                                <a class="like-link" href="{% url 'add-favourites' drill.pk %}"><p><i id="unlike"
                                                                                            class="fa-solid fa-heart liked-icon"></i>{{ drill.favorite_drills.count }}</p></a>
                            {% else %}
                                <a class="like-link" href="{% url 'add-favourites' drill.pk %}"><p><i id="like"
                                                                                      class="fa-solid fa-heart not-liked-icon"></i>{{ drill.favorite_drills.count }}</p></a>
                            {% endif %}
                            {% if drill.comments.count >= 1 %}
                                <p href="#"><i style="color: blue"
                                               class="fa-solid fa-comments"></i> {{ drill.comments.count }}</p>
                            {% else %}
                                <p href="#"><i class="fa-solid fa-comments"></i> {{ drill.comments.count }}</p>
                            {% endif %}
                        </div>
                        <div class="drill-buttons">
                            <a class="details-drills" href="{% url 'drill-details' drill.pk %}">Разгледай<i
                                    class="fa-solid fa-eye"></i></a>
                            {% if drill.author.pk == request.user.pk or request.user.is_superuser %}
                                <a class="details-drills" href="{% url 'drill-edit' drill.pk %}"><i
                                        id="drills-edit" class="fa-solid fa-pen-to-square"></i></a>
                                <a class="details-drills" href="{% url 'drill-delete' drill.pk %}"><i
                                        id="drills-delete" class="fa-solid fa-trash"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                {% if all_drills_count > 0 %}
                    <div class="no-drills-container">
                        <h1 class="no-drills">Няма добавени тренировки по зададените филтри</h1>
                        {% if account_drills  %}
                            <a class="no-drills-link" href="{% url 'user-drills' user.pk %}">Махни филтри</a>
                        {% elif account_favourites %}
                              <a class="no-drills-link" href="{% url 'user-favourites' user.pk %}">Махни филтри</a>  
                        {% else %}
                            <a class="no-drills-link" href="{% url 'drill-dashboard' %}">Махни филтри</a>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="no-drills-container">
                        <h1 class="no-drills">Все още няма създадени тренировки</h1>
                        <a class="no-drills-link" href="{% url 'drill-create' %}">Създай първата тренировка</a>
                {% endif %}
            {% endfor %}

        </div>

        {% if all_drills_count > 0 %}
            <div class="filters">
                <div class="filters-box" id="header">
                    <div class="sorting">
                        <form method="get" action="{{ request.path }}">
                            <h4 for="sort-by">Подреди по:</h4>
                            <select id="sort-by" name="order_by" class="form-select" onchange="this.form.submit()">
                                <option value="-created_at"
                                        {% if request.GET.order_by == '-created_at' or request.GET.order_by is None %}selected{% endif %}>
                                    Най-нови
                                </option>
                                <option value="created_at" {% if request.GET.order_by == 'created_at' %}selected{% endif %}>
                                    Най-стари
                                </option>
                                <option value="likes" {% if request.GET.order_by == 'likes' %}selected{% endif %}>
                                    Най-харесвани
                                </option>
                                <option value="-likes" {% if request.GET.order_by == '-likes' %}selected{% endif %}>
                                    Най-малко харесвани
                                </option>
                                <option value="comments" {% if request.GET.order_by == 'comments' %}selected{% endif %}>
                                    Най-коментирани
                                </option>
                                <option value="-comments" {% if request.GET.order_by == '-comments' %}selected{% endif %}>
                                    Най-малко коментирани
                                </option>
                            </select>
                            {% for key, value in request.GET.items %}
                                {% if key != 'order_by' %}
                                    <input type="hidden" name="{{ key }}" value="{{ value }}">
                                {% endif %}
                            {% endfor %}
                        </form>
                    </div>
                </div>
    
    
                <div class="filters-box" id="header">
                    <h1>Филтри</h1>
                </div>
    
                <div class="filters-box">
                    <h4>Тренировки</h4>
                    <ul>
                        <li class="{% if request.GET.approved == 'True' %}active{% endif %}">
                            <a href="?{% for key, value in request.GET.items %}{% if key != 'approved' %}{{ key }}={{ value }}&{% endif %}{% endfor %}approved=True">
                                Одобрени
                            </a>
                        </li>
                        <li class="{% if request.GET.approved == 'False' or request.GET.approved is None %}active{% endif %}">
                            <a href="?{% for key, value in request.GET.items %}{% if key != 'approved' %}{{ key }}={{ value }}&{% endif %}{% endfor %}approved=False">
                                Всички тренировки
                            </a>
                        </li>
                    </ul>
                </div>
    
                <div class="filters-box">
                    <h4>Възрастова група</h4>
                    <ul>
                        {% for group in age_groups %}
                            <li class="{% if request.GET.for_age_group == group %}active{% endif %}">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'for_age_group' %}{{ key }}={{ value }}&{% endif %}{% endfor %}for_age_group={{ group }}">
                                    {{ group }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
    
                <div class="filters-box">
                    <h4>Фокус на тренировката</h4>
                    <ul>
                        {% for focus_option in focus_options %}
                            <li class="{% if request.GET.focus == focus_option %}active{% endif %}">
                                <a href="?{% for key, value in request.GET.items %}{% if key != 'focus' %}{{ key }}={{ value }}&{% endif %}{% endfor %}focus={{ focus_option }}">
                                    {{ focus_option }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
    
                <div class="filters-box" id="clear-filters">
                    {% if account_drills %}
                       <ul>
                        <li><a href="{% url 'user-drills' user.pk %}">Махни филтри</a></li>
                    </ul>
                    {% elif account_favourites %}
                        <ul>
                        <li><a href="{% url 'user-favourites' user.pk %}">Махни филтри</a></li>
                    </ul>
                    {% else %}
                    <ul>
                        <li><a href="{% url 'drill-dashboard' %}">Махни филтри</a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        <br>
        <hr>


    </div>
    </div>
    </div>
    {% if all_drills_count > 0 %}
        {% include 'common/pagination.html' %}
    {% endif %}
{% endblock %}
