{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <div class="container-form">
        <section id="create-user">
            <form class="form-group" method="post" enctype="multipart/form-data">
                <div class="details-container">
                    {% if drill.approved %}
                            <h1 class="listings-delete">{{ drill.name }}<img style="width: 70px;height: 70px" src="{% static 'images/coach-like-big.png' %}"></h1>
                        {% else %}
                            <h1>{{ drill.name }}</h1>
                        {% endif %}
                    {% if drill.graphics %}
                        <img src="{{ drill.graphics.url}}" style="width: 420px; height: 320px">
                    {% endif %}
                    {% csrf_token %}
                    {{form}}
                    <button>Изтрий</button>
                </div>
            </form>
        </section>
    </div>
{% endblock %}