{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="search">
    <form action="{% url 'drill-dashboard' %}" method="get">
    {{ form }}
    <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i> Търси</button>
        </form>
    </div>
    <div class="container-drills">
        <div class="drills">
            {% for drill in drills %}
                <div class="drill-card">
                    <div class="image-wrap">
                        {% if drill.graphics %}
                            <img src="{{ drill.graphics.url }}" alt="Drill"/>
                        {% else %}
                            <img src="{% static 'images/drills-common.png' %}">
                        {% endif %}
                    </div>
                    <div class="drill-info">
                        {% if drill.approved %}
                            <h1>{{ drill.name }} <i class="fa-regular fa-circle-check"
                                                    style="color: darkslategrey;"></i></h1>
                        {% else %}
                            <h1>{{ drill.name }}</h1>
                        {% endif %}
                        <h4>{{ drill.for_age_group }}</h4>
                        <h4>{{ drill.focus }}</h4>

                        <!-- car model -->
                        <p class="description">{{ drill.description|truncatewords:30 }}</p>
                        <div class="cup-comments">
                            {#                            <a style="text-decoration: none" href="{% url 'like' drill.pk %}">#}
                            {% if drill.has_liked %}
                                <a class="like-link" href="{% url 'like' drill.pk %}"><p><i id="unlike"
                                                                                            class="fa-solid fa-trophy liked-icon"></i>{{ drill.likes.count }}
                                </p></a>
                            {% else %}
                                <a class="like-link" href="{% url 'like' drill.pk %}"><p><i id="like"
                                                                                            class="fa-solid fa-trophy not-liked-icon"></i>{{ drill.likes.count }}
                                </p></a>
                            {% endif %}
                            </a>

                            {% if drill.comments.count >= 1 %}
                                <p href="#"><i style="color: blue"
                                               class="fa-solid fa-comments"></i> {{ drill.comments.count }}</p>
                            {% else %}
                                <p href="#"><i class="fa-solid fa-comments"></i> {{ drill.comments.count }}</p>
                            {% endif %}
                        </div>
                        <div class="drill-buttons">
                            <a class="details-drills" href="{% url 'drill-details' drill.pk %}">Разгледай<i
                                    class="fa-solid fa-eye"></i></a>
                            {% if drill.author.pk == request.user.pk %}
                                <a class="details-drills" href="{% url 'drill-edit' drill.pk %}"><i
                                        id="drills-edit" class="fa-solid fa-pen-to-square"></i></a>
                                <a class="details-drills" href="{% url 'drill-delete' drill.pk %}"><i
                                        id="drills-delete" class="fa-solid fa-trash"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="no-drills-container">
                    <h1 class="no-drills">Няма добавени тренировки по зададените филтри</h1>
                    <a class="no-drills-link" href="{% url 'drill-dashboard' %}">Махни филтри</a>
                </div>

            {% endfor %}

        </div>
        <div class="filters">
            <div class="filters-box" id="header">
                <h1>Филтри</h1>
            </div>

            <div class="filters-box">
                <h4>Тренировки</h4>
                <ul>
                    <li class="{% if request.GET.approved == 'True' %}active{% endif %}">
                        <a href="?
                                {% for key, value in request.GET.items %}{% if key != 'approved' %}{{ key }}={{ value }}&{% endif %}{% endfor %}approved=True">
                            Само одобрени
                        </a>
                    </li>
                    <li class="{% if request.GET.approved == 'False' or request.GET.approved is None %}active{% endif %}">
                        <a href="?
                                {% for key, value in request.GET.items %}{% if key != 'approved' %}{{ key }}={{ value }}&{% endif %}{% endfor %}approved=False">
                            Всички тренировки
                        </a>
                    </li>
                </ul>
            </div>

            <div class="filters-box">
                <h4>Възрастова група</h4>
                <ul>
                    {% for group in age_groups %}
                        <li class="{% if request.GET.for_age_group == group %}active{% endif %}">
                            <a href="?
                                    
                                    
                                    {% for key, value in request.GET.items %}{% if key != 'for_age_group' %}{{ key }}={{ value }}&{% endif %}{% endfor %}for_age_group={{ group }}">
                                {{ group }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="filters-box">
                <h4>Фокус на тренировката</h4>
                <ul>
                    {% for focus_option in focus_options %}
                        <li class="{% if request.GET.focus == focus_option %}active{% endif %}">
                            <a href="?
                                    
                                    
                                    {% for key, value in request.GET.items %}{% if key != 'focus' %}{{ key }}={{ value }}&{% endif %}{% endfor %}focus={{ focus_option }}">
                                {{ focus_option }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="filters-box" id="clear-filters">
                <ul>
                    <li><a href="{% url 'drill-dashboard' %}">Махни филтри</a></li>
                </ul>
            </div>
        </div>
    
    <br><hr>
    

    </div>
    </div>
    </div>
    {% include 'pagination.html' %}
{% endblock %}