{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <div class="container-form">
        <section id="create-user">
            <form class="form-group" method="post">
                <div class="details-container">

                    {% if drill.approved %}
                        <h1 class="drill-header">{{ drill.name }}<img style="width: 70px;height: 70px" src="{% static 'images/coach-like-big.png' %}"></h1>
                    {% elif drill.approved == False %}
                        {% if 'drills.can_approve_drills' in request.user.get_group_permissions %}
                        <h1 class="drill-header">
                            {{ drill.name }} <a href="{% url 'approve_drill' drill.pk %}"><i id="approve" class="fa-solid fa-circle-check"></i></a>
                        </h1>
                        {% else %}
                            <h1 class="drill-header">
                                {{ drill.name }}
                            </h1>
                            {% endif %}
                    {% endif %}
                    <div class="drill-author-date">
                        <div class="author">
                            <p>Добавена от:</p>
                            <div class="author-details">
                                {% if drill.author.profile_picture %}
                                <a href="{% url 'user-details' drill.author.pk %}"><img style="height: 35px;width:35px; border-radius: 50%" src="{{ drill.author.profile.profile_picture.url }}"></a>
                                {% endif %}
                                <h5><a href="{% url 'user-details' drill.author.pk %}">{{ drill.author.username }}</a></h5></a>
                            </div>
                            
                        </div>
                        <div>
                            {% if drill.has_liked %}
                                <a class="like-link" href="{% url 'like' drill.pk %}"><p><i id="unlike"
                                                                                            class="fa-solid fa-trophy liked-icon"></i>{{ drill.likes.count }}
                                </p></a>
                            {% else %}
                                <a class="like-link" href="{% url 'like' drill.pk %}"><p><i id="like"
                                                                                            class="fa-solid fa-trophy not-liked-icon"></i>{{ drill.likes.count }}
                                </p></a>
                            {% endif %}
                        </div>
                        <div class="date">
                            <p>Добавена на:</p>
                            <h5>{{ drill.created_at|date:"d.m.Y H:i" }}</h5>
                            
                        </div>
                        
                        
                    </div>
                    {% if drill.graphics %}
                        <img src="{{ drill.graphics.url }}" style="height: 350px;width: 370px">
                    {% else %}
                        <img src="{% static 'images/drills-common.png' %}" style="height: 350px;width: 370px">
                    {% endif %}

                    {#                    <h1 class="listing-details">Детайли</h1>#}
                    <h2 class="drill-details"><span class="details-text"> Възрастова група :</span></h2>
                    <h2 class="details"><span class="details-text"> </span> <strong>{{ drill.for_age_group }}</strong>
                    </h2>
                    <h2 class="drill-details"><span class="details-text"> Фокус :</span></h2>
                    <h2 class="details"><span class="details-text"> </span> <strong>{{ drill.focus }}</strong></h2>
                    <h2 class="drill-details"><span class="details-text"> Цели :</span></h2>
                    <h2 class="details"><span class="details-text"> </span> <strong>{{ drill.objectives }}</strong></h2>
                    <h2 class="drill-details"><span class="details-text"> Размери :</span></h2>
                    <h2 class="details"><span class="details-text"> </span> <strong>{{ drill.dimensions }}</strong></h2>
                    <h2 class="drill-details"><span class="details-text"> Серии :</span></h2>
                    <h2 class="details"><span class="details-text"> </span> <strong>{{ drill.series }}</strong>
                        {% if drill.duration %} </h2>
                            <h2 class="drill-details"><span class="details-text"> Общо времетраене :</span>
                            </h2>
                            <h2 class="details"><span class="details-text"> </span>
                                <strong>{{ drill.duration }}</strong></h2>
                        {% endif %}
                        {% if drill.coaching_points %}
                            <h2 class="drill-details"><span class="details-text"> Треньорски цели :</span></h2>
                            <h2 class="details"><span class="details-text"> </span>
                                <strong>{{ drill.coaching_points }}</strong></h2>
                        {% endif %}
                        <h2 class="drill-details"><span class="details-text"> Описание :</span></h2>
                        <p class="details"><span class="details-text"> </span>
                            <strong>{{ drill.description }}</strong></p>
                        {% if drill.progression %}
                            <h2 class="drill-details"><span class="details-text"> Прогресия :</span></h2>
                            <h2 class="details"><span class="details-text"> </span>
                                <strong>{{ drill.progression }}</strong></h2>
                        {% endif %}
                </div>
            </form>
        </section>
    </div>
    <section >
    <h1>Коментари</h1>
        {% for comment in comments %}
            <div class="comment-card">
                <div class="comment-header">
                    {% if comment.author.profile.profile_picture %}
                        <a href="{% url 'user-details' comment.author.pk %}"><img style="height: 35px;width:35px; border-radius: 50%" src="{{ comment.author.profile.profile_picture.url }}"></a>
                    {% else %}
                        <a href="{% url 'user-details' comment.author.pk %}"><img style="height: 35px;width:35px; border-radius: 50%" src="{% static 'images/common-profile-picture.png' %}"></a>
                    {% endif %}
                    <h6><a href="{% url 'user-details' comment.author.pk %}"> {{ comment.author }}</a></h6>
                    
                    
                    
                    <p>{{ comment.created_at|date:"d.m.Y" }}</p>
                </div>
                <p> {{ comment.content }} </p>
            </div>
        {% endfor %}
        <form class="comments" id="comments" method="post">
            {% csrf_token %}
            {{ comment_form }}
            <button>Добави</button>
        </form>
    </section>>
{% endblock %}
