{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-form">
        <section id="create-user">
            <form class="form-group" method="post" enctype="multipart/form-data">
                <div class="details-container">
                    <h1 id="listing-edit" class="listing-details">Обява номер: {{ listing.pk }}</h1>
                    {% csrf_token %}
                    {{form}}
                    <button>Редакция</button>
                </div>
            </form>
        </section>
    </div>
{% endblock %}