{% extends 'base.html' %}
{% block content %}
    <div class="container-form">
        {% for listing in listings %}
            <section class="listings">

                {% if listing.for_age_group %}
                    {% if listing.author.pk == request.user.pk %}
                           <h2>
                            {{ listing.club }} търси треньор за {{ listing.for_age_group }}
                            <a href="{% url 'listing-details' listing.pk %}"><i class="fa-solid fa-eye" id="first-icon"></i></a> 
                            <a href="#"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="#"><i class="fa-solid fa-trash"></i></a>
                        </h2>
                    {% else %}
                        <h2>
                            {{ listing.club }} търси треньор за {{ listing.for_age_group }}
                            <a href="{% url 'listing-details' listing.pk %}" class="listings-icon"><i class="fa-solid fa-eye" id="first-icon"></i></a>
                        </h2>
                    {% endif %}

                {% else %}
                    {% if listing.author.pk == request.user.pk %}
                        <h2>
                            {{ listing.club }} търси треньор 
                            <a href="{% url 'listing-details' listing.pk %}"><i class="fa-solid fa-eye" id="first-icon"></i></a> 
                            <a href="#"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="#"><i class="fa-solid fa-trash"></i></a>
                        </h2>
                    {% else %}
                        <h2>
                            {{ listing.club }} търси треньор 
                            <a href="{% url 'listing-details' listing.pk %}" class="listings-icon"><i class="fa-solid fa-eye" id="first-icon"></i></a>
                        </h2>
                    {% endif %}

                {% endif %}

            </section>
        {% endfor %}
    </div>
{% endblock %}