{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-form">
        <section id="create-user">
            <form class="form-group" method="post">
                <div class="details-container">
                
                    <h1 class="listing-details">Обява номер: {{ listing.pk }}</h1>
                
                    <h1 class="listing-details">Детайли</h1>
                    <h2 class="details"><span class="details-text"> Отбор:</span> <strong>{{ listing.club }}</strong>
                    </h2>
                    {% if listing.for_age_group %}
                        <h2 class="details"><span class="details-text"> Възраст:</span>
                            <strong>{{ listing.for_age_group }}</strong></h2>
                    {% endif %}
                    {% if listing.salary %}
                        <h2 class="details"><span class="details-text"> Заплата:</span>
                            <strong>{{ listing.salary }}</strong></h2>
                    {% endif %}
                
                    <h1 class="listing-details">Изисквания </h1>
                    <h2 class="details"><span class="details-text"> Необходим лиценз:</span>
                        <strong>{{ listing.licence_required }}</strong></h2>
                    {% if listing.experience_needed %}
                    <h2 class="details"><span class="details-text"> Необходим опит:</span>
                        <strong>{{ listing.experience_needed }} години</strong></h2>
                        {% else %}
                        <h2 class="details"><span class="details-text"> Необходим опит:</span>
                        <strong>Не е нужен опит</strong></h2>
                    {% endif %}
                
                    <h1 class="listing-details">Контакти</h1>
                    <h2 class="details"><span class="details-text"> Телефон:</span>
                        <strong>{{ listing.telephone_number }}</strong></h2>
                    <h2 class="details"><span class="details-text"> Лице за контакт:</span>
                        <strong>{{ listing.contact_person }}</strong></h2>
                    {% if listing.position %}
                        <h2 class="details"><span class="details-text"> Позиция:</span>
                        <strong>{{ listing.position }}</strong></h2>
                    {% endif %}
                </div>
            </form>
        </section>
    </div>
{% endblock %}