{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <title>Coach App</title>
</head>
<body>
{% include 'common/navigation.html' %}

{% block content %}
{% endblock %}

<footer>
    &copy;Kristiyan Omayski 2024. All rights reserved.
</footer>

</body>
</html>