{% load static %}
{% if drills.count > 0 %}
    <div id="home-drill-card" class="drill-card">
        <div class="image-wrap">
            <img src="{{ drill.graphics.url }}" alt="Drill"/>
        </div>
        <div class="drill-info">
            <h1>{{ drill.name }} <img style="width: 70px;height: 70px"
                                      src="{% static 'images/coach-like-big.png' %}"></h1>
            <div id="home-page" class="details">
                <div class="focus-age-group">
                    <h4>Добавена от: </h4>
                    <h4><span class="home-text-details">{{ drill.author }}</span></h4>
                    <h4>Възраст: </h4>
                    <h4><span class="home-text-details">{{ drill.for_age_group }}</span></h4>
                    <h4>Фокус: </h4>
                    <h4><span class="home-text-details">{{ drill.focus }}</span></h4>
                </div>
                <div class="objectives-dimensions">
                    <h4>Цели: </h4>
                    <h4 style="font-size: 1em"><span class="home-text-details">{{ drill.objectives }}</span></h4>
                    <h4>Размери: </h4>
                    <h4><span class="home-text-details">{{ drill.dimensions }}</span></h4>
                    <h4>Серии: </h4>
                    <h4><span class="home-text-details">{{ drill.series }}</span></h4>
                </div>
                {% if drill.duration or drill.coaching_points or drill.progression %}
                    <div class="series-duration">
                        {% if drill.duration %}
                            <h4>Времетраене: </h4>
                            <h4><span class="home-text-details">{{ drill.duration }} минути</span></h4>
                        {% endif %}
                        {% if drill.coaching_points %}
                            <h4>Треньорски цели: </h4>
                            <h4 style="font-size: 1em"><span class="home-text-details">{{ drill.coaching_points }}</span></h4>
                        {% endif %}
                        {% if drill.progression %}
                            <h4 style="font-size: 1em">Прогресия: </h4>
                            <h4><span class="home-text-details">{{ drill.progression }}</span></h4>
                        {% endif %}
                    </div>
                {% endif %}

            </div>
            <h4><span class="home-text-details">Описание:</span></h4>
            <p class="description">{{ drill.description|truncatewords:50 }}</p>
            <div class="cup-comments">
                <p class="like-link">
                <p><i style="color: goldenrod" id="like"
                      class="fa-solid fa-trophy not-liked-icon"></i>{{ drill.likes.count }}
                <p><i style="color: goldenrod" class="fa-solid fa-heart"></i> {{ drill.favorite_drills.count }}</p>
                <p><i style="color: blue" class="fa-solid fa-comments"></i> {{ drill.comments.count }}</p>
            </div>


{% elif drills.count == 0 %}
            <div id="home-drill-card" class="drill-card">
                <div class="image-wrap">
                    <img src="{% static 'images/home-page-drill-graphic.png' %}" alt="Drill"/>
                </div>
                <div class="drill-info">
                    <h1>3 на 3 с игра зад гърба <img style="width: 70px;height: 70px"
                                              src="{% static 'images/coach-like-big.png' %}"></h1>
                    <div id="home-page" class="details">
                        <div class="focus-age-group">
                            <h4>Добавена от: </h4>
                            <h4><span class="home-text-details">Администратор</span></h4>
                            <h4>Възраст: </h4>
                            <h4><span class="home-text-details">U13 - U14</span></h4>
                            <h4>Фокус: </h4>
                            <h4><span class="home-text-details">Владение</span></h4>
                        </div>
                        <div class="objectives-dimensions">
                            <h4>Цели: </h4>
                            <h4 style="font-size: 1em"><span class="home-text-details">Трайно владение в числено равенство с акцент пас в коридор</span></h4>
                            <h4>Размери: </h4>
                            <h4><span class="home-text-details">30х30м</span></h4>
                            <h4>Серии: </h4>
                            <h4><span class="home-text-details">3х4 мин</span></h4>
                        </div>
                            <div class="series-duration">
                                <h4>Времетраене: </h4>
                                <h4><span class="home-text-details">12 минути</span></h4>
                                <h4>Треньорски цели: </h4>
                                <h4 style="font-size: 1em"><span class="home-text-details">Игра напред Преодоляване на защит.линия; Владение на топката в числ. равенство; движение без топка бързо вземане на решения</span></h4>
                                <h4 >Прогресия: </h4>
                                <h4 style="font-size: 1em"><span class="home-text-details">Увеличаване на бройката подавания Добавяне на защитна линия от състезатели за максимално доближаване до мачова ситуация; Ограничение на брой докосвания</span></h4>
                            </div>

                    </div>
                    <h4><span class="home-text-details">Описание:</span></h4>
                    <p class="description">Разиграване в числено равенство 3 на 3 след 5 успешни подавания се търси пас в коридор към съотборник без топка и отбелязване на гол в малка врата. Точка се получава на всеки 6ти пас, а ако отборът успее да отбележи гол се брои за 3 точки</p>
                    <div class="cup-comments">
                        <p class="like-link">
                        <p><i style="color: goldenrod" id="like"
                              class="fa-solid fa-trophy not-liked-icon"></i>5</p>
                        <p><i style="color: goldenrod" class="fa-solid fa-heart"></i>3</p>
                        <p><i style="color: blue" class="fa-solid fa-comments"></i>7</p>
                    </div>
{% endif %}