{% extends 'common/base.html' %}
{% load static %}

{% block content %}

    <main>
        <div id="home-card">

            <div class="home-info">
                <h1 class="home">Здравей, тренер!</h1>
                <h3>Добре дошъл в сайта</h3>
                <p><strong>BG Football Trener</strong> е сайт за треньори, направен от треньори. Идеята му е лесно да се
                    обменят знания и тренировки между колеги на всякакви ниво.</p>
                <p>За да използваш пълната функционалност на сайта и да можеш да видиш всички качени тренировки трябва
                    да си регистриран. За да го направиш цъкни <a href="{% url 'user-register' %}">ТУК</a></p>
                <p>Ако вече имаш профил използвай<a href="{% url 'user-login' %}"> ВХОД</a></p>
                <h3>Ако все още не сме те убедили да се регистрираш можеш да погледнеш последната качена и одобрена тренировка без
                    регистрация.</h3>
                <p>Съжаляваме, но все още нямаме добавени тренировки, които да са одобрени от нашия екип.</p>
                <p>Все пак можеш да погледнеш примерно добавена тренировка. Можеш и да се <a href="{% url 'user-register' %}">регистрираш</a> и да добавиш своя</p>
            </div>
            <div class="home-image-container">
                <img src="{% static 'images/trener-wave.png' %}">
            </div>
        </div>
        {% include 'common/home-page-drill.html' %}
    </main>
{% endblock %}
