
.details-link {
    display: inline-block;
    background-color: darkslategrey;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    padding: 0.5em;
    margin-top: 2em;
    border-radius: 1.5em;
    cursor: pointer;
    border: whitesmoke solid 0.1em;
}

.details-link:hover {
    background-color: whitesmoke;
    color: black; /* Invert colors on hover */
}

a:hover{
    color: whitesmoke;
}

.listing-details{
    padding-bottom: 0.5em;
    padding-top: 0.2em;
}

.details-text{
    font-style: italic;
    color: darkgreen;
}

h2.details{
    padding-bottom: 0.2em;
}

.details a {
    text-decoration: none;
    color: whitesmoke;
}

.details a:hover{
    color: darkslategrey;
}

.drill-details{
    color: green;
    margin-bottom: .01rem;
}

h1.details{
    padding-bottom: 0.2em;
}

.error-not-found{
    text-align: center;
    font-size: 2.5em;
    margin: 6em 0;
}

.error-forbidden {
    text-align: center;
    font-size: 2.5em;
    margin: 6em 0;
}
.error-not-found a,
.error-forbidden a {
    padding-top: 0.2em;
    font-size: 0.8em;
}