{% extends 'base.html' %}

{% block content %}

<main>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>


</main>
{% endblock %}
