{% extends 'base.html' %}
{% load static %}

{% block content %}

    <main>
        <div id="home-drill-card" class="drill-card">
            <div class="image-wrap">
                <img src="{{ drill.graphics.url }}" alt="Drill"/>
            </div>
            <div class="drill-info">
                <h1>{{ drill.name }} <img style="width: 70px;height: 70px"
                                          src="{% static 'images/coach-like-big.png' %}"></h1>
                <div id="home-page" class="details">
                <div class="focus-age-group">
                    <h4>Възраст: </h4>
                    <h4><span class="home-text-details">{{ drill.for_age_group }}</span></h4>
                    <h4>Фокус: </h4>
                    <h4><span class="home-text-details">{{ drill.focus }}</span></h4>
                </div>
                <div class="objectives-dimensions">
                    <h4>Цели: </h4>
                    <h4><span class="home-text-details">{{ drill.objectives }}</span></h4>
                    <h4>Размери: </h4>
                    <h4><span class="home-text-details">{{ drill.dimensions }}</span></h4>
                </div>
                </div>
                <p><span class="home-text-details">Описание:</span></p>
                <p class="description">{{ drill.description|truncatewords:50 }}</p>
                <div class="cup-comments">
                    <p class="like-link" ><p><i style="color: goldenrod" id="like" class="fa-solid fa-trophy not-liked-icon"></i>{{ drill.likes.count }}
                    <p ><i style="color: blue" class="fa-solid fa-comments"></i> {{ drill.comments.count }}</p>
                </div>

    </main>
{% endblock %}
