{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <title>Coach App</title>
</head>
<body>

<header>
    <nav>
        <div class="nav-image">
            <a href="#">
                <img src="{% static 'images/logo-darkslategrey.png' %}" alt="" width="400" height="120">
            </a>

        </div>



            <div class="nav-other">
                <a href="#">Info</a>
                <a href="#">All Drills</a>
                <a href="#">Create Drill</a>

            </div>

            <div class="nav-profile">
                <a href="#">Create Profile</a>
                <a href="#">Login</a>
                {##}
                {#            <a href="#">Profile details</a>#}
            </div>

    </nav>
</header>
<main>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>
    <p>
        Lorem ipsum dolor sit amet, consect
    </p>


</main>
<footer>
    &copy;Kristiyan Omayski 2024. All rights reserved.
</footer>


</body>
</html>